@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: 'Yellowtail', cursive;
    background-color: #eee;
    color: #777;
    min-height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.container {
    position: relative;
    width: 420px;
    height: 420px;
    border-radius: 4px;
    overflow: hidden;
}

.juggler {
    opacity: 0.5;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    height: 420px;
}

.juggler-body {
    width: 220px;
    height: 220px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    background-color: sandybrown;
    border-radius: 200px 200px 0px 0px;
}

.juggler-head {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 200px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    background-color: sandybrown;
    border: 20px solid #eee;
    border-radius: 50%;
}

.juggler-hand {
    width: 50px;
    height: 130px;
    position: absolute;
    bottom: 40px;
    background-color: sienna;
    border: 5px solid #eee;
    border-radius: 50px;
}

.juggler-hand.left {
    left: 93px;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}

.juggler-hand.right {
    right: 93px;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.ball {
    --hueRotate: 0deg;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.3)) hue-rotate(var(--hueRotate)) saturate(7);
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.3)) hue-rotate(var(--hueRotate)) saturate(7);
    background-image: url(https://picsum.photos/id/1053/200/300);
    background-size: 200px 300px;
    overflow: hidden;
    -webkit-animation: ballY 1.25s infinite ease-out alternate, ballX 5s infinite ease-out, ballBG 12.5s infinite linear;
    animation: ballY 1.25s infinite ease-out alternate, ballX 5s infinite ease-out, ballBG 12.5s infinite linear;
}

.ball::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(circle at 25% 25%, rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.5));
}

.ball:nth-child(2) {
    -webkit-animation-delay: -1s, -1s, -3.5s;
    animation-delay: -1s, -1s, -3.5s;
    --hueRotate: 72deg;
}

.ball:nth-child(3) {
    -webkit-animation-delay: -2s, -2s, -7s;
    animation-delay: -2s, -2s, -7s;
    --hueRotate: 144deg;
}

.ball:nth-child(4) {
    -webkit-animation-delay: -3s, -3s, -10.5s;
    animation-delay: -3s, -3s, -10.5s;
    --hueRotate: 216deg;
}

.ball:nth-child(5) {
    -webkit-animation-delay: -4s, -4s, -14s;
    animation-delay: -4s, -4s, -14s;
    --hueRotate: 288deg;
}

@-webkit-keyframes ballY {
    0%,
    10% {
        top: 350px;
    }
    20% {
        top: 365px;
    }
    100% {
        top: 50px;
    }
}

@keyframes ballY {
    0%,
    10% {
        top: 350px;
    }
    20% {
        top: 365px;
    }
    100% {
        top: 50px;
    }
}

@-webkit-keyframes ballX {
    0%,
    5%,
    95%,
    100% {
        left: calc(50% - 100px);
    }
    45%,
    55% {
        left: calc(50% + 100px);
    }
}

@keyframes ballX {
    0%,
    5%,
    95%,
    100% {
        left: calc(50% - 100px);
    }
    45%,
    55% {
        left: calc(50% + 100px);
    }
}

@-webkit-keyframes ballBG {
    0%,
    2% {
        background-position: 20% 20%;
    }
    18%,
    22% {
        background-position: 40% 50%;
    }
    38%,
    42% {
        background-position: 60% 80%;
    }
    58%,
    62% {
        background-position: 80% 60%;
    }
    78%,
    82% {
        background-position: 50% 40%;
    }
    98%,
    100% {
        background-position: 20% 20%;
    }
}

@keyframes ballBG {
    0%,
    2% {
        background-position: 20% 20%;
    }
    18%,
    22% {
        background-position: 40% 50%;
    }
    38%,
    42% {
        background-position: 60% 80%;
    }
    58%,
    62% {
        background-position: 80% 60%;
    }
    78%,
    82% {
        background-position: 50% 40%;
    }
    98%,
    100% {
        background-position: 20% 20%;
    }
}

.hand {
    position: absolute;
    top: 360px;
    width: 50px;
    height: 5px;
    -webkit-filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.2));
    -webkit-animation: handY 1s infinite ease-out, handA 1s infinite ease-out;
    animation: handY 1s infinite ease-out, handA 1s infinite ease-out;
}

.hand:nth-child(1) {
    left: calc(50% - 100px);
    --angle: 15deg;
    --scale: 1;
}

.hand:nth-child(2) {
    left: calc(50% + 100px);
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
    --angle: -15deg;
    --scale: -1;
}

@-webkit-keyframes handY {
    0%,
    10%,
    30%,
    75%,
    90%,
    100% {
        top: 345px;
    }
    80% {
        top: 355px;
    }
    20% {
        top: 365px;
    }
}

@keyframes handY {
    0%,
    10%,
    30%,
    75%,
    90%,
    100% {
        top: 345px;
    }
    80% {
        top: 355px;
    }
    20% {
        top: 365px;
    }
}

@-webkit-keyframes handA {
    20%,
    45% {
        -webkit-transform: translate(-50%, -50%) rotate(var(--angle)) scaleX(var(--scale));
        transform: translate(-50%, -50%) rotate(var(--angle)) scaleX(var(--scale));
    }
    0%,
    75%,
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(0) scaleX(var(--scale));
        transform: translate(-50%, -50%) rotate(0) scaleX(var(--scale));
    }
}

@keyframes handA {
    20%,
    45% {
        -webkit-transform: translate(-50%, -50%) rotate(var(--angle)) scaleX(var(--scale));
        transform: translate(-50%, -50%) rotate(var(--angle)) scaleX(var(--scale));
    }
    0%,
    75%,
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(0) scaleX(var(--scale));
        transform: translate(-50%, -50%) rotate(0) scaleX(var(--scale));
    }
}

.finger {
    position: absolute;
    width: 10px;
    background-color: sandybrown;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border-width: 1px 1px 0;
}

.finger:nth-child(1) {
    top: 10px;
    left: 2px;
    height: 30px;
    width: 45px;
    border-radius: 5px 0 20px 20px;
}

.finger:nth-child(2) {
    top: 10px;
    left: 0;
    height: 17px;
}

.finger:nth-child(3) {
    top: 3px;
    left: 10px;
    height: 25px;
}

.finger:nth-child(4) {
    top: 0px;
    left: 20px;
    height: 30px;
}

.finger:nth-child(5) {
    top: 2px;
    left: 30px;
    width: 9px;
    height: 25px;
}

.finger:nth-child(6) {
    top: 7px;
    left: 39px;
    height: 17px;
    width: 8px;
}